body {
    opacity: 1;
    transition: 0.7s opacity;
    background-color: #1a1a1d;
  }
  
  body.fade {
      opacity: 0;
      transition: none;
  }

  #dark-font {
    color: #1a1a1d;
  }

  #light-font {
    color: #17252a;
  }

    
.row {
  display: flex;
  flex-wrap: wrap;
  padding-left:14%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 28%;
  padding: 25px;
  
}

.img {
  margin-top: 8px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: .3s;
  border-radius: 5px;
}

.img:hover {
  cursor: pointer;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
  border: solid 1px #CCC;
  color: rgba(204, 204, 204, 0.507);

}

.first-words {
    color: #950740;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Sigmar One', cursive;

}

#arrow {
align-items: center;
color: white;
text-align: center;
}

#arrow:hover {
color: #950740;

}

a {
  color: #950740; 
}

a:hover {
  color: #c3073f; 

}
.nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}

.nav a:hover {
  background-color: #ddd;
  color: #c3073f;
}

#nav {
    overflow: hidden;
    background-color: #1a1a1d;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    z-index:1;

  }

  #description {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-left: 90px;
    padding-right: 90px;

  }
  
  /* nav links */
  #nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: white;
    
    
  }

  #nav a:hover {
    color: #c3073f;
  }

  #nav a:active {
    color: #c3073f;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the nav with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  /**
 * Smooth scrolling inside an element
 */
#arrow {
	scroll-behavior: smooth;
}

/**
 * Smooth scrolling on the whole document
 */
html {
	scroll-behavior: smooth;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .row {
      padding-left: 0;
  }

  button {
    white-space: nowrap;
    margin-bottom: 10px;
    margin-top: 10px;


  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .row {
      padding-left: 0;
  }

  button {
    white-space: nowrap;
    padding-bottom: 10px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

@media only screen and (max-width: 600px) {
  #menu {
    display: none;
  }

  .icon {
    text-align: right;
    color: #c3073f;
  }
}

  h3 {
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 15px;

  }

  h4, h5, h6 {
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 15px;
  }

  p {
      padding-left: 15px;
      margin-left: 15px;
      padding-right: 15px;

  }

      .footer {
        color: white;
        background-color: #1a1a1d;
        text-align: center;
      }

    .dark {
      background-color: #6f2232;
      color: white;
    }

      .lightLightGreen {
        background-color:#4e4e50;
      }

      #contact {
        color: white;
      }

      #lighter {
        background-color: #6f2232;
      }